.root {
  -primary-color: #215476;
  -fx-font-family: "Helvetica";
  -fx-background-color: radial-gradient(
    center 70% 50%,
    radius 45%,
    #ffffff,
    -primary-color
  );
}

.title {
  -fx-font-size: 24px;
}

.logoBig {
  -fx-font-size: 250px;
  -fx-font-weight: bold;
}

.lightText {
  -fx-fill: #c8d1d0;
}

.header {
  -fx-fill: -primary-color;
  -fx-font-weight: bold;
}

#sidePanel {
  -fx-background-radius: 20;
}

.divider {
  -fx-background-color: #efefef;
}

.error {
  -fx-text-fill: red;
}

.button {
  -fx-text-fill: -primary-color;
  -fx-border-color: -primary-color;
  -fx-border-width: 2px;
}

.buttonForm {
  -fx-text-fill: white;
  -fx-background-color: #4095e5;
  -fx-border-color: #4095e5;
}

.radius {
  -fx-background-color: #215476;
  -fx-background-radius: 0 0 20 0;
}

.menuItem {
  -fx-border-color: transparent;
  -fx-border-width: 0;
  -fx-text-fill: #1784fc;
  -fx-fill: #1784fc;
  -fx-font-size: 10px;
  -fx-background-color: #c8d1d0;
}

.sidePanel {
  -fx-background-color: #c8d1d0;
}

.logo {
  -fx-font-size: 32px;
}

#name {
  -fx-font-size: 20px;
}

.big {
  -fx-font-size: 40px;
}

.list-view {
  -fx-background-color: transparent;
}

.list-view .list-cell {
  -fx-background-color: -primary-color;
  -fx-background-radius: 10;
  -fx-text-fill: #c8d1d0;
  -fx-padding: 5px;
  -fx-border-style: solid;
  -fx-border-color: #efefef;
  -fx-border-width: 2px;
}

.list-view .list-cell:empty {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}
